.copyright {
  text-align: center;
  font-size: 16px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.copyright p {
  width: 100%;
}

@media (max-width: 768px) {
  .copyright {
    font-size: 10px;
  }
}
/*# sourceMappingURL=copyright.css.map */