@import "./constants.scss";

.copyright {
  text-align: center;
  font-size: 16px;
  padding: 20px;
  box-sizing: border-box;

  p {
    width: 100%;
  }
}

@media (max-width: $small) {
  .copyright {
    font-size: 10px;
  }
}
