.mainInfo {
  margin-bottom: 30px;
}

.mainInfo .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 400px;
}

.mainInfo .row h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 400;
}

.mainInfo .row-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  background-color: #fff;
  padding: 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mainInfo .row-item .photo {
  background: url("/img/image-04.jpg") center center/cover no-repeat;
  width: 160px;
  height: 160px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.mainInfo .row-item .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.mainInfo .row-item_img {
  padding: 0;
}

.mainInfo .row-item .castle-img {
  background: url("/img/image-01.jpg") center center/cover no-repeat;
  width: 100%;
  min-height: 400px;
}

.mainInfo .row .red {
  background-color: #933;
}

.mainInfo .row .red h1,
.mainInfo .row .red p,
.mainInfo .row .red a,
.mainInfo .row .red small {
  color: #fff;
}

.mainInfo .row .red small {
  font-size: 14px;
  font-weight: 300;
}

@media (max-width: 992px) {
  .mainInfo .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mainInfo .row > div {
    width: 100%;
  }
  .mainInfo .row:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .mainInfo .row .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainInfo .row .content h2,
  .mainInfo .row .content p {
    width: 100%;
  }
}
/*# sourceMappingURL=mainInfo.css.map */