@import "./constants.scss";

.someText {
  &-content {
    width: 65%;
    padding: 48px 63px;
  }

  &-image {
    background: url("/img/image-02.jpg") center center / cover no-repeat;
    width: 35%;
  }
}

@media (max-width: $medium) {
  .someText.row {
    flex-direction: column-reverse;
  }
  .someText {
    &-image {
      width: 100%;
      height: 280px;
    }

    &-content {
      width: unset;
      text-align: center;
    }
  }
}
